<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
   
<bean id="sim" class="com.sundar.SpringIOC.Vodafone"></bean>

<bean id="sundar" class="com.sundar.DI.Student">
  <property name="id" value="1" ></property>
  <property name="name" value="Sundar"></property>
  <property name="std" value="12"></property>
</bean>

<bean id="sabari" class="com.sundar.DI.Student">
  <property name="id" value="2" ></property>
  <property name="name" value="Sabari"></property>
  <property name="std" value="12"></property>
</bean>

<bean id="jeeva" class="com.sundar.DI.Student">
  <property name="id" value="3" ></property>
  <property name="name" value="Jeeva"></property>
  <property name="std" value="12"></property>
</bean>


</beans>