<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
   
    <bean id="sim" class="com.sundar.SpringIOC.Vodafone"></bean>
	
	<bean id="address" class="com.sundar.ObjectDI.Address">
               <constructor-arg name="city" value="chennai" type="java.lang.String"></constructor-arg>
               <constructor-arg name="state" value="tamilnadu" type="java.lang.String"></constructor-arg>
               <constructor-arg name="country" value="India" type="java.lang.String"></constructor-arg>
    </bean>
	
	<bean id="sundar" class="com.sundar.ObjectDI.Employee">
	      <constructor-arg name="name" value="Sundar" type="java.lang.String"></constructor-arg>
	      <constructor-arg name="id" value="101" type="int"></constructor-arg>
	      <constructor-arg name="address" ref="address">
      </constructor-arg>
	</bean>
	
<!--
injection using setter method
     
	<bean id="sundar" class="com.sundar.DI.Student">
	  <property name="id" value="1" ></property>
	  <property name="name" value="Sundar"></property>
	  <property name="std" value="12"></property>
	</bean>
	
	<bean id="sabari" class="com.sundar.DI.Student">
	  <property name="id" value="2" ></property>
	  <property name="name" value="Sabari"></property>
	  <property name="std" value="12"></property>
	</bean>
	
	<bean id="jeeva" class="com.sundar.DI.Student">
	  <property name="id" value="3" ></property>
	  <property name="name" value="Jeeva"></property>
	  <property name="std" value="12" type="int"></property>
	</bean>
	
	
		<bean id="sundar" class="com.sundar.DI.Student">
		<constructor-arg name="id" value="1" type="int"></constructor-arg>
		<constructor-arg name="name" value="Sundar" type="java.lang.String"></constructor-arg>
		<constructor-arg name="std" value="12" type="int"></constructor-arg>
	</bean>

injection using constructor.

   <bean id="jeeva" class="com.sundar.DI.Student">
		<constructor-arg name="id" value="1" type="int"></constructor-arg>
		<constructor-arg name="name" value="Jeeva" type="java.lang.String"></constructor-arg>
		<constructor-arg name="std" value="12" type="int"></constructor-arg>
	</bean>
     
    <bean id="sabari" class="com.sundar.DI.Student">
		<constructor-arg name="id" value="1" type="int"></constructor-arg>
		<constructor-arg name="name" value="Sabari" type="java.lang.String"></constructor-arg>
		<constructor-arg name="std" value="12" type="int" ></constructor-arg>
	</bean>
	
	<bean id="mohan" class="com.sundar.DI.Student">
		<constructor-arg name="id" value="1" type="int"></constructor-arg>
		<constructor-arg name="name" value="Mohan" type="java.lang.String"></constructor-arg>
	</bean>  
	
    <bean id="jeeva" class="com.sundar.ObjectDI.Employee">
      <constructor-arg name="name" value="jeeva" type="java.lang.String"></constructor-arg>
      <constructor-arg name="id" value="102" type="int"></constructor-arg>
      <constructor-arg name="address">
          <bean class="com.sundar.ObjectDI.Address">
               <constructor-arg name="city" value="bangalore" type="java.lang.String"></constructor-arg>
               <constructor-arg name="state" value="telungana" type="java.lang.String"></constructor-arg>
               <constructor-arg name="country" value="India" type="java.lang.String"></constructor-arg>
          </bean>
      </constructor-arg>
	</bean>
    
<
-->
     
</beans>