<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
   
    <bean id="sim" class="com.sundar.SpringIOC.Vodafone"></bean>
	
	<bean id="address" class="com.sundar.ObjectDI.Address">
               <constructor-arg name="city" value="chennai" type="java.lang.String"></constructor-arg>
               <constructor-arg name="state" value="tamilnadu " type="java.lang.String"></constructor-arg>
               <constructor-arg name="country" value="India" type="java.lang.String"></constructor-arg>
    </bean>
	
	<bean id="sundar" class="com.sundar.ObjectDI.Employee">
	      <constructor-arg name="name" value="Sundar" type="java.lang.String"></constructor-arg>
	      <constructor-arg name="id" value="101" type="int"></constructor-arg>
	      <constructor-arg name="address" ref="address">
      </constructor-arg>
	</bean>
	
	<bean id="student" class="com.sundar.CollectionDI.Student">
	    <property name="id" value="101"></property>
	    <property name="name" value="Sundar"></property>
	    <property name="hobby">
	         <list>
	             <value>study</value>
	             <value>sleep</value>
	             <value>draw</value>
	             <value>gym</value> 
	         </list>
	    </property>
	</bean>
	
	<bean id="emp" class="com.sundar.CollectionDI.Employee">
	     <constructor-arg name="id" value="1"></constructor-arg>
	     <constructor-arg name="name" value="Venkat"></constructor-arg>
	     <constructor-arg name="role">
	         <set>
	              <value>HTML</value>
	              <value>CSS</value>
	              <value>JS</value>
	              <value>HTML</value>
	         </set>
	     </constructor-arg>
	</bean>
	
	<bean id="ans1" class="com.sundar.CollectionDI.Answer">
		<constructor-arg name="id" value="101"></constructor-arg>
		<constructor-arg name="name" value="Sundar"></constructor-arg>
		<constructor-arg name="answer" value="java is a programing lang."></constructor-arg>
	</bean>
	
    <bean id="ans2" class="com.sundar.CollectionDI.Answer">
		<constructor-arg name="id" value="102"></constructor-arg>
		<constructor-arg name="name" value="Jeeva"></constructor-arg>
		<constructor-arg name="answer" value="java is a platform independent lang."></constructor-arg>
	</bean>
	
	<bean id="que" class="com.sundar.CollectionDI.Question">
		<constructor-arg name="quesNo" value="1"></constructor-arg>
		<constructor-arg name="question" value="What is java"></constructor-arg>
		<constructor-arg name="ans">
		   <set>
		   		<ref bean="ans1"/>
		   		<ref bean="ans2"/>
		   </set>
		</constructor-arg>
	</bean>
	
	<bean id="ques1" class="com.sundar.CollectionDI.Question1M">
	     <constructor-arg name="quesNo" value="1"></constructor-arg>
	     <constructor-arg name="question" value="what is variable ?"></constructor-arg>
	     <constructor-arg name="answer">
	            <map>
	               <entry key="sundar" value="name of value."></entry>
	               <entry key="jeeva" value="three types."></entry>
	               <entry key="sabari" value="local,instance,static"></entry>
	            </map>
	     </constructor-arg>
	</bean>
	<bean id="student2.1" class="com.sundar.CollectionDI.Student2">
		<constructor-arg name="id" value="101"></constructor-arg>
		<constructor-arg name="name" value="Sundar"></constructor-arg>
	</bean>
	<bean id="student2.2" class="com.sundar.CollectionDI.Student2">
		<constructor-arg name="id" value="102"></constructor-arg>
		<constructor-arg name="name" value="Jeeva"></constructor-arg>
	</bean>	
	<bean id="answer2.1" class="com.sundar.CollectionDI.Answer2">
	    <constructor-arg name="answer" value="He is a bodyBuilder"></constructor-arg>
	    <constructor-arg name="postedDate" value="7/4/2022"></constructor-arg>
	</bean>
	<bean id="answer2.2" class="com.sundar.CollectionDI.Answer2">
	    <constructor-arg name="answer" value="He is a Artist"></constructor-arg>
	    <constructor-arg name="postedDate" value="6/4/2022"></constructor-arg>
	</bean>
	<bean  id="ques2" class="com.sundar.CollectionDI.Question2">
	      <constructor-arg name="quesNo" value="1"></constructor-arg>
	      <constructor-arg name="question" value="who is sundar"></constructor-arg>
	      <constructor-arg name="ansAndStu">
	      		<map>
	      			<entry key-ref="student2.1" value-ref="answer2.1"></entry>
	      			<entry key-ref="student2.2" value-ref="answer2.2"></entry>
	      		</map>
	      </constructor-arg>
	</bean>
<!--
injection using setter method
     
	<bean id="sundar" class="com.sundar.DI.Student">
	  <property name="id" value="1" ></property>
	  <property name="name" value="Sundar"></property>
	  <property name="std" value="12"></property>
	</bean>
	
	<bean id="sabari" class="com.sundar.DI.Student">
	  <property name="id" value="2" ></property>
	  <property name="name" value="Sabari"></property>
	  <property name="std" value="12"></property>
	</bean>
	
	<bean id="jeeva" class="com.sundar.DI.Student">
	  <property name="id" value="3" ></property>
	  <property name="name" value="Jeeva"></property>
	  <property name="std" value="12" type="int"></property>
	</bean>
	
	
    <bean id="sundar" class="com.sundar.DI.Student">
		<constructor-arg name="id" value="1" type="int"></constructor-arg>
		<constructor-arg name="name" value="Sundar" type="java.lang.String"></constructor-arg>
		<constructor-arg name="std" value="12" type="int"></constructor-arg>
	</bean>

injection using constructor.

    <bean id="jeeva" class="com.sundar.DI.Student">
		<constructor-arg name="id" value="1" type="int"></constructor-arg>
		<constructor-arg name="name" value="Jeeva" type="java.lang.String"></constructor-arg>
		<constructor-arg name="std" value="12" type="int"></constructor-arg>
	</bean>
     
    <bean id="sabari" class="com.sundar.DI.Student">
		<constructor-arg name="id" value="1" type="int"></constructor-arg>
		<constructor-arg name="name" value="Sabari" type="java.lang.String"></constructor-arg>
		<constructor-arg name="std" value="12" type="int" ></constructor-arg>
	</bean>
	
	<bean id="mohan" class="com.sundar.DI.Student">
		<constructor-arg name="id" value="1" type="int"></constructor-arg>
		<constructor-arg name="name" value="Mohan" type="java.lang.String"></constructor-arg>
	</bean>  
	
    <bean id="jeeva" class="com.sundar.ObjectDI.Employee">
       <constructor-arg name="name" value="jeeva" type="java.lang.String"></constructor-arg>
       <constructor-arg name="id" value="102" type="int"></constructor-arg>
       <constructor-arg name="address">
           <bean class="com.sundar.ObjectDI.Address">
                <constructor-arg name="city" value="bangalore" type="java.lang.String"></constructor-arg>
                <constructor-arg name="state" value="telungana" type="java.lang.String"></constructor-arg>
                <constructor-arg name="country" value="India" type="java.lang.String"></constructor-arg>
           </bean>
       </constructor-arg>
    </bean>
    
<
-->
     
</beans>